/* цвет основного текста #757575 */
/* цвет контактов футера   rgba(255, 255, 255, 0.6) */
/* цвет заголовков  #212121 */
/* основной белый цвет #ffffff */
/* первичный серый цвет #2f303a */
/* серый цвет секций #f5f4fa */
/* серый цвет иконок #AFB1B8 */
/* акцент #2196f3 */
/* хувер акцента #188CE8 */
/* цвет бордера хедера #ececec*/
/* цвет бордера карточек #eeeeee */
/* марджин сетки карточек --card-set-gap */

:root {
  --primary-text-color: #757575;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --primary-grey-color: #2f303a;
  --section-grey-color: #f5f4fa;
  --icon-grey-color: #afb1b8;
  --accent-color: #2196f3;
  --accent-hoover-color: #188ce8;
  --header-border-color: #ececec;
  --card-border-color: #eeeeee;
  --card-set-gap: 30px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  text-align: center;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-right: auto;
  margin-left: auto;
}

/* ----------body---------- */
body {
  background-color: var(--primary-white-color);

  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

/* ---header--- */
header {
  border-bottom: 1px solid var(--header-border-color);

  background-color: var(--primary-white-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

header > .container {
  display: flex;
  align-items: center;
}

/* logo */

.logo {
  display: block;
  margin-right: 93px;

  font-family: Raleway, sans-serif;

  color: #2196f3;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: #ffffff;
}

/* navigation */
.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding: 32px 0px;

  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* contacts */
.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts .contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-item {
  display: flex;
  align-items: center;
}

.contacts-item .link {
  color: var(--primary-text-color);
}

.contacts-item::before {
  content: "";
  margin-right: 10px;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-envelope::before {
  background-image: url(../images/envelope.svg);
}

.icon-smartphone::before {
  background-image: url(../images/smartphone.svg);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  padding: 199px 0px 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Hero.j\(1\).jpg);
  background-color: var(--primary-grey-color);
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  border: 0px;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;

  padding: 10px 32px;

  display: inline-block;

  background-color: var(--accent-color);

  color: var(--primary-white-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  border: 0px;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;

  padding: 10px 32px;

  background-color: var(--accent-hoover-color);

  color: var(--primary-white-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

/* benefits */

.features {
  padding: 94px 0px;
}

.features-list {
  display: flex;
}

.feature-item {
  width: 270px;
}

.feature-item::before {
  content: "";
  display: block;

  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--section-grey-color);

  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna\ 1.svg);
}

.icon-clock::before {
  background-image: url(../images/clock\ 1.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram\ 1.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut\ 1.svg);
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}

.features-titles {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* our activities */

.activities {
  padding: 0px 0px 94px;
}

.activities-list {
  display: flex;
}

.activities-title {
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.activities-item:not(:last-child) {
  margin-right: 30px;
}

/* our team */

.team-section {
  padding: 94px 0px;

  background-color: var(--section-grey-color);
}

.main-team-title {
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
}

.team-card {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  background-color: var(--primary-white-color);
  text-align: center;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.card-text {
  padding: 30px 0px;
}

.team-titles {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.professions {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Our clients */

.clients {
  padding: 94px 0;
  background-color: var(--primary-white-color);
}

.clients-title {
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list-item::before {
  content: "";
  display: block;

  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-grey-color);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-union::before {
  background-image: url(../images/union.svg);
}

.icon-union-2::before {
  background-image: url(../images/union-2.svg);
}

.icon-union-3::before {
  background-image: url(../images/union-3.svg);
}

.icon-union-4::before {
  background-image: url(../images/union-4.svg);
}

.icon-union-5::before {
  background-image: url(../images/union-5.svg);
}

.icon-union-6::before {
  background-image: url(../images/union-6.svg);
}

/* ---footer--- */

footer {
  padding: 60px 0px;

  background-color: var(--primary-grey-color);
}

footer .logo {
  margin-bottom: 20px;
}

.footer-adress {
  display: block;
  margin-bottom: 9px;

  color: var(--primary-white-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts .link {
  color: var(--contacts-footer-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

/* ------------------Portfolio-------------------------- */

.portfolio {
  padding: 94px 0px;

  background-color: var(--primary-white-color);
}

/* Filters */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  min-height: 38px;
  border: 0px;
  border-radius: 4px;

  padding: 6px 22px;

  background-color: var(--section-grey-color);

  color: var(--title-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  min-height: 38px;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;

  background-color: var(--accent-color);

  color: var(--primary-white-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

/* Projects */

.project-set {
  display: flex;
  flex-wrap: wrap;

  margin-right: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
}

.project-set .card {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  border: 1px solid var(--card-border-color);
}

.card-content {
  box-sizing: border-box;
  padding: 20px 24px;

  background-color: #fff;
}

.project-title {
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
